@using RecipeBox.Models;
@{
  Layout = "_Layout";
}

<h2>Category: @Model["selectedCategory"].GetName()</h2>
<h3><a href="/categories/@Model["selectedCategory"].GetId()/delete">Delete this Category</a></h3>
<hr />
@if (@Model["categoryRecipes"].Count != 0)
{
  <h4>Here are all the recipes in this category:</h4>
  <ul>
    @foreach (var recipe in @Model["categoryRecipes"])
    {
      <li><h3><a href='/recipes/@recipe.GetId()'>@recipe.GetName()</a></h3><p><a href="/recipes/@recipe.GetId()/delete">Delete Recipe</a> | <a href="/recipes/@recipe.GetId()/update">Update Recipe</a></p></li>
    }
  </ul>
}
<h4>Add a recipe to this category:</h4>
<form action='/categories/@Model["selectedCategory"].GetId()/recipes/new' method='post'>
  <div class="form-group">
    <select class="form-control" id='recipe-id' name='recipe-id' type='text'>
      @foreach (var recipe in @Model["allRecipes"])
      {
        <option value='@recipe.GetId()'>@recipe.GetName()</option>
      }
    </select>
  </div>

  <button type='submit' class="btn btn-warning">Add</button>
</form>
<h4><a href="/">Return to Main Page</a></h4>
